<div class="panel panel-default">
  <div class="panel-heading">
    <div class="chart-image">
      <img [src]="icon" />
    </div>
    <h3 class="panel-title">
      <span>{{ header }}</span></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-lg-8 chart">
        <p class="pull-right">{{ header }}</p>
        <dashboard-chart [chartType]="chartType" [data]="chartData" [dataProperty]="dataProperty"></dashboard-chart>
      </div>
      <div class="col-xs-12 col-lg-4 info-box">
        <div class="row">
          <div class="col-xs-6 col-lg-12">
            <div class="sum">
              <h4><span [innerHTML]="additionalHtml"></span>{{ value }}</h4>
              <h6>{{ summaryText }}</h6>
            </div>
          </div>
          <div class="col-xs-6 col-lg-12">
            <button class=" pull-right chart-btn">{{ buttonText }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>